body {
	font-family: monospace;
	color: #ffffff;
	background-color: #1a1a1a;
	overflow-x: hidden;
}

#header {
	font-weight: bold;
	margin: 4px;
	font-size: 150%;
}

.project-entry {
	width: 95vw;
	font-size: 125%;
	display: flex;
	flex-direction: row;
}

.header--project {
	width: 50%;
	display: block;
	color: #ffffff;
}

.header--commit {
	color: #ffffff;
	left: 47.5%;
	width: 10%;
	display: block;
}

.header--date {
	color: #ffffff;
	width: 40%;
	left: 62.5%;
	display: block;
	text-wrap: nowrap;
}

.link--project {
	color: #ffffff;
	position: absolute;
	width: 50%;
	display: block;
}

.link--commit {
	color: #ffffff;
	position: absolute;
	left: 47.5%;
	width: 10%;
	display: block;
}

.link--date {
	color: #ffffff;
	width: 40%;
	position: absolute;
	left: 62.5%;
	display: block;
	text-wrap: nowrap;
}
