body {
	font-family: "JetBrains Mono", monospace;
	color: #ffffff;
	background-color: #1a1a1a;
	overflow-x: hidden;
}

#header {
	font-weight: bold;
	margin: 4px 4px 4px 0;
	font-size: 150%;
}

#project-entries {
	border: none;
}

#projects {
	width: 100vw;
}

#projects > tr {
	width: 75vw;
	text-align: left;
}

#projects th:nth-child(1),
#projects td:nth-child(1) {
	width: 50%;
}

#projects th:nth-child(2),
#projects td:nth-child(2) {
	width: 12.5%;
}

#projects th:nth-child(3),
#projects td:nth-child(3) {
	width: 37.5%;
	text-wrap: nowrap;
}

.tables__header {
	font-weight: bold;
	text-align: left;
}

.link--project {
	color: #ffffff;
	width: 50%;
}

.link--commit {
	color: #ffffff;
	width: 10%;
}

.link--date {
	color: #ffffff;
	width: 40%;
	text-wrap: nowrap;
}

.text--small {
	font-size: 80%;
}
